body {
    margin-left: 10px;
    margin-top: 10px;
    background-color: #FEFAEF;
    font-family: "Monaco", "Consolas", "Lucida Console", monospace;
}

div#splash {
    font-size: 300%;
}

div#wrapper {
    float: left;
    margin-right: 20px;
}

div#canvas-div {
    margin-left: auto;
    margin-right: auto;
    text-align:center;
}

canvas {
    display = inline;
}